body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: #1f2937;
    color: whitesmoke;
}

.header .container {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.header .top-section {
    display: flex;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
}

.header ul {
    font-size: 18px;
    font-weight: initial;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.header ul:first-child {
    margin-left: auto;
}

.header a {
    text-decoration: none;
    color: whitesmoke;
}

.header .center {
    display: flex;
    align-items: center;
    margin: auto 0;
}

.header .main-section {
    display: flex;
}

.header .main-section h2 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: bolder;
}

.header .main-section p {
    margin: 20px 0px;
    font-size: 20px;
}

.header .main-section button {
    text-align: center;
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
    border: 0;  
    padding: 8px 24px;
    font-weight: bold;
}

.header .main-section .left {
    flex: 1 1 100%;
    padding: 30px;
}

.header .main-section .right {
    background-color: #455b79;
    display: flex;
    flex: 1 1 100%;
    box-shadow: 2px 4px 16px rgb(21, 24, 44);
}

#header-image{
    max-width: 100%;
    max-height: 100%;
    flex: 1;
}

section {
    display: flex;
    flex-direction: column;
}

.mainsection-1 .container {
    display: flex;
    flex-direction: column;
    height: 450px;
}

.mainsection-1 .top {
    text-align: center;
    padding: 40px;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.mainsection-1 .bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.mainsection-1 .bottom .section {
    width: auto;
    text-align: center;
    font-size: 18px;
    color: rgb(102, 102, 102);
}

.mainsection-1 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: #1f2937 solid 4px;
    border-radius: 20px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.mainsection-2 { 
    background-color: #e5e7eb;
}

.mainsection-2 .container {
    display: flex;
    flex-direction: column;
    height: 450px;
    align-items: center;
    justify-content: center;
}

.mainsection-2 .section {
    display: flex;
    flex-direction: column;
    color: #1f2937;
    width: 70%;
}

.mainsection-2 #quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 0;
}

.mainsection-2 #author {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 800;
}

.mainsection-3 {
    background-color: white;
}

.mainsection-3 .container {
    display: flex;
    height: 450px;
}

.mainsection-3 .prompt {
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.mainsection-3 .left {
    flex: 1 1 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainsection-3 h4 {
    margin: 0;
    font-size: 21px;
}

.mainsection-3 .right {
    flex: 1 1 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainsection-3 button  {
    text-align: center;
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
    border: 2px solid white;  
    padding: 8px 24px;
    font-weight: bold;
}

footer {
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: #e5e7eb;
}

@media only screen and (max-width: 914px){
    .mainsection-1 .container{
        height: auto;
    }
}
